<div class="container-fluid page"   >
    <div class="page__box p-3 mt-2">Consultar Escala - Coroinha</div>
    <button id="ocultar" type="button" class="btn btn-dark" (click)="ocultarBotao()">Exibir/Ocultar Edição</button>
  
      <div class="page__content shadow p-3 position-relative" id="content" #content>
        <div>
      
          <div class="container mt-5" id="divisao">
          
          <div>
            <table class="table table-bordered">
                
          
              <thead>
                <tr>
                  <th class="titulo-escala" scope="col">NOME ESCALA :</th>
                  <th class="nome-escala" scope="col">PASTORAL DE COROINHAS E ACÓLITOS - ESCALA MÊS MAIO</th>
                </tr>  
                
              </thead>
                 
            </table>
             
          
          <div  *ngFor="let dados of readData">
           
            <table class="table table-bordered" id="missa-celebracao">
                
          
              <thead>
                <tr>
                  <th scope="col">MISSA / CELEBRACAO:</th>
                  <th scope="col">{{dados.missa}}</th>
                </tr>  
              </thead>
                 
            </table>
            
            <br>
            <table class="table table-hover table-bordered table-striped" class="tabela-1" >
                
          
              <thead class="head">
                <tr>
                  <th scope="col" class="id">Id</th>
                  <th scope="col">Data</th>
                  <th scope="col">Dia</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Comunidade</th>
                </tr>
              </thead>
  
              <tbody>
                  <tr>
                      <th scope="col">{{dados.id}}</th>
                      <td>{{dados.data}}</td>
                      <td>{{dados.dia}}</td>
                      <td>{{dados.hora}}</td>
                      <td>{{dados.comunidade}}</td>
                  </tr>
              </tbody>
                
            </table>
          
            <table class="table table-bordered" class="tabela-2" >
                
          
              <thead class="head">
                <tr>
                  <th scope="col">Acolito</th>
                  <th scope="col">Coroinha</th>
                </tr>
              </thead>
              
              <tbody>
                    <tr>
                      <td class="titulo-escala">
                        <div class="dados_acolito">
                          {{dados.acolito1}}<br>
                          {{dados.acolito2}}<br>
                          {{dados.acolito3}}
                        </div> 
                        </td>

                      <td class="titulo-escala">
                        {{dados.coroinha1}}<br>
                        {{dados.coroinha2}}<br>
                        {{dados.coroinha3}}<br>
                        {{dados.coroinha4}}<br>
                        {{dados.coroinha5}}
                      </td>
                    </tr>
              </tbody>
                
            </table>
                        
            <a *ngIf="alt" id="alt" [routerLink]="['/criar-coroinha',dados.id]" class="btn btn-sm btn-primary">Editar</a>
            <button *ngIf="alt" id="alt" class="btn btn-sm btn-danger" (click)="deleteID(dados.id)">Excluir</button>
        
       
          </div>
          
          
          
          </div>
             
          </div>
      </div>
    </div>
    <button  id="download" class="btn btn-sm btn-success" (click)="printSimplePDF()">Download</button><mat-icon id="print"> local_printshop</mat-icon>
    
  </div><!-- container-fluid page -->    
  
  