<a class="fixed-top" id="close" (click)="close()" mat-menu-item>
    <mat-icon  id="x">clear</mat-icon>
</a>

<div *ngIf="loading == true">
  <div class="loading" *ngIf="response ==null">
    <mat-spinner *ngIf="response ==null"></mat-spinner>
  </div> 
</div>


<form [formGroup]="forgotPasswordForm">

    <div class="mb-3">
      <label for="recuperar-email" class="form-label">Email</label>
      <input type="email" id="recuperar-email" class="form-control" formControlName="email" placeholder="Email">
    </div>

    <button [disabled]="!forgotPasswordForm.valid" type="submit" id="recuperar" (click)="ngSubmit()" class="btn btn-primary">Recuperar</button>
    
</form>

