<mat-nav-list>
        <div class="logo py-4">
            <img src="../../../assets/logo.png" alt="Company Logo">
        </div>
        <mat-divider></mat-divider>
     
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" >
            <mat-icon>home</mat-icon> <h5 class="home">Home</h5> 
        </a>
        <a mat-list-item routerLink="/escala" routerLinkActive="list-item-active" >
            <mat-icon>dashboard</mat-icon> <h5>Escala</h5>
        </a>
    
        <a mat-list-item routerLink="/cadastro" routerLinkActive="list-item-active" >
            <mat-icon>description</mat-icon>  <h5>Cadastro</h5>
        </a>
     
</mat-nav-list>
