.logo{
    text-align: center;
    padding: 2.6rem 1rem;
   
}

img{
    margin-top: -30px;
    width: 100px;
}

.mat-icon{
    vertical-align: center;
    margin: 1rem;
}

.mat-divider{
    border-top-width: 2px;
    border-color:white;
}

.mat-list-item{
    color:#94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom:4px;
}