


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="header">

    <img  class="img-logo" src="../../../../assets/logo.png">

    <div class="buttons" >
      <nav>
        <button routerLink="/login">Login</button>
        <button routerLink="/cadastro">Solicitar Acesso</button>
       </nav>
    </div>
  </div> 

  
<mat-drawer-container>

  

  <mat-drawer-content>
    
 
      <div class="container-fluid page">
          <div class="page__content shadow p-3 position-relative">
              <div class="page__content-data position-absolute text-center">
                
                 <div class="contaneiner1 shadow p-3 position-relative">
                       <h4 id="title">Avisos Paroquiais</h4>

                        <div class="slide">
                          <img (click)="openModal(img1)" [id]="img1" [ngStyle]="{'display':display1, 'animation-duration':animationduration1 ,'animation-name':animationname1 }"  class="alert1" src={{baseurl+img1}}>
                          <img (click)="openModal(img2)" [id]="img2" [ngStyle]="{'display':display2}" class="alert12" src={{baseurl+img2}}>
                          <img (click)="openModal(img3)" [id]="img3" [ngStyle]="{'display':display3}" class="alert13" src={{baseurl+img3}}>
                          <img (click)="openModal(img4)" [id]="img4" [ngStyle]="{'display':display4}" class="alert14" src={{baseurl+img4}}>
                        </div> 
                        
                      <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                     </div>
   

                      <div class="manuel-navigation">
                        <label (click)="changeAlert1()" for="radio1" class="manual-btn"></label>
                        <label (click)="changeAlert12()"  for="radio2" class="manual-btn"></label>
                        <label (click)="changeAlert13()" for="radio3" class="manual-btn"></label>
                        <label (click)="changeAlert14()" for="radio4" class="manual-btn"></label>
                     </div>
                   
                  
                        
                    <mat-icon id="refresh" (click)="refresh()">refresh</mat-icon> 

                  </div>

           
           
                  <div>
                      <div class="contaneiner2 shadow p-3 position-relative">
                          <img (click)="openModal(img5)" [id]="img5" class="alert2" src={{baseurl+img5}}>
                        </div>
                        <div class="contaneiner3 shadow p-3 position-relative">
                          <img (click)="openModal(img6)" [id]="img6" class="alert3" src={{baseurl+img6}}>
                        </div>
                  </div>


              </div>
          </div>
      </div>


      <div id="model" [ngStyle]="{'display':displayModal}"> <mat-icon  id="closeModal" (click)="closeModal()">close</mat-icon> <img src={{img}}></div>


  </mat-drawer-content>
  

</mat-drawer-container>

    

