


<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
       
      <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>  
    
      <div class="row mr-2 ml-auto">
          <ul>
            <li>

                <div *ngIf="loading == true">
                    <div class="loading" *ngIf="deleteFoto ==null">
                    <mat-spinner *ngIf="deleteFoto ==null"></mat-spinner>
                    </div> 
                </div>

                <button *ngIf="imageuser == null" mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-item-center">
                    <img src="../../../assets/user.png" alt="" class="user-image mr-1 p-2">
                    {{user}}
                    <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
              </button>

                <button *ngIf="imageuser != null" mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-item-center">
                    <img [src]="imageuser" alt="" class="user-image mr-1 p-2">
                     {{user}}
                    <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                </button>
               
             

                <mat-menu #menu="matMenu">

                    <button (click)="cadastrarModal()" mat-menu-item>
                        <mat-icon >create</mat-icon>
                          <span>Criar Usuário</span> 
                    </button>

                    <button *ngIf="imageuser == null" (click)="uploadImage()" mat-menu-item>
                        <mat-icon >folder_shared</mat-icon>
                          <span>Adicionar Foto de Perfil</span> 
                    </button>

                    <button *ngIf="imageuser != null" (click)="uploadImage()" mat-menu-item>
                        <mat-icon >folder_shared</mat-icon>
                          <span>Atualizar Foto de Perfil</span> 
                    </button>

                    <button *ngIf="imageuser != null" (click)="deleteImage()" mat-menu-item>
                        <mat-icon >delete</mat-icon>
                          <span>Deletar Foto de Perfil</span> 
                    </button>

                    <button (click)="logout()" mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                         Logout
                    </button>

                </mat-menu>
            </li>
          </ul>
      </div>  
    </mat-toolbar-row>
</mat-toolbar>
