mat-toolbar{
    position: sticky;
    top:0;
    z-index: 100;
    background: #f7f7f7;
}

li{
    list-style: none;
}

button{
    border:0;
    outline: none;
    background:transparent;
}

.user{
    font-size: 14px;
}

.user-image{
    border-radius: 50%;
    width:65px;
    height: 65px;
}

.user-image-icon{
    height: 20px;
    font-size: 16px;

}

.mat-menu-content{
    width: 160px;
}

.loading{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:end;
    align-items:baseline;
    right: 90px;
  
  }