.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    
}

.page__box{
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
 
}

.page__content{
    max-width: 100%;
    min-height: calc(200vh - 5px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
   
} 

.page__content-data{
    margin: -46% 0 0 50%;
    transform: translate(-50%,50%);
}
input,select{
    width: 70%;
    margin-left: 15%;
}

#missa,#data,#dia{
  margin-bottom: -40px;
}
#hora,#comunidade,#acolito,#coroinha{
    margin-bottom: 30px;
}
#hora{
    margin-top:20px ;
}
label{
    font-size: 25px;
}
p{
    opacity: 0;
}

#enviar{
    margin-top: 20px;
    width: 50%;
    margin-right: 70px;
}

#nomes-coroinha{
    margin-bottom: 10px;
}

.number{
    display: inline-block;
    margin-right: 80%;
}

#icon-info{
 
    margin-top: -10px;
}

#info{
    width: 70%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15%;

}

#nomes-acolito1{
    margin-bottom: 10px;
}

#nomes-acolito2,#nomes-acolito3:before{
    margin-bottom: 10px;
    opacity: .5;
}

#nomes-acolito2,#nomes-acolito2:after{
    margin-bottom: 10px;
    opacity: 1;
}
