
<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Escolha uma ação</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
                    
            <a type="button" routerLink="/categoria-criar-escala"  id="criar-escala"  class="btn btn-primary btn-lg">Criar</a>
            <a type="button"  routerLink="/categoria-consultar-escala" id="consultar-escala" class="btn btn-secondary btn-lg">Consultar</a>

        </div>
    </div>

</div>




