/* default styles */
.page{
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  
}

.page__box{
  min-height: 120px;
  background: #1e293b;
  margin: 0 -1rem;
  font-size: 36px;

}

.page__content{
  min-height: calc(110vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 2rem;
} 

.page__content-data{
  top:20%;
  font-size: 45px;
  left: 50%;
  max-width: 100%;
  white-space: nowrap;
  transform: translate(-50%,50%);
}

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 275px;
  background-color: #0f172a;
}

mat-drawer-container{
  height: 110%;

}

.qrcode{
  position: relative;
  top: 140px;
  width: 280px;
  margin: 0 auto;
  background-color: #0f172a;
  padding: 40px;
  border-radius: 20px;

}



.whatsapp span{
font-size: 16px;
float: right;
position: relative;
top:90px;
left: 50px;
font-weight: 600;
}

.whatsapp{
  display:inline-block;
}

.whatsapp img{
  width: 15%;
  cursor: pointer;
  position: relative;
  float: right;
  right: 35px;
}

.whatsapp{
  position: relative;
  float: right; 

}



/* media query for smaller screens */
@media (max-width: 768px) {
.page__content{
  font-size: 1.5rem;
}

.page__content-data{
  font-size: 30px;
}

mat-drawer{
  width: 100%;
 
}

.page__box{
  font-size: 20px;
}

.whatsapp img{
  right:36%;
 }

 .whatsapp span{
  left:-9%;
 }
}

/* media query for even smaller screens, such as mobile phones */
@media (max-width: 375px) {
.page__content{
  font-size: 1rem;
}

.page__content-data{
  font-size: 20px;
}

.page__box{
  font-size: 16px;
}
}
