<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
   
</head>
<body>

  <mat-icon style="cursor: pointer;" routerLink="/home-page">keyboard_backspace</mat-icon>
   
    <section class="imagem">
     <img class="santa-teresinha" src="../../../assets/santa-teresinha.png">
    </section>
    
    <div class="frase">
      <p class="parag1">"Ó Jesus, meu Amor… minha vocação, enfim,</p>
      <p class="parag2">eu a encontrei, minha vocação é o Amor"</p>
    </div>

    <div class="logo">
      <img class="img-logo"  src="../../../assets/logo.png"> 
    </div>
    
    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="ngSubmit()">
        <h1>Login</h1>
        <input formControlName="email" type="text" placeholder="Email">
        <br><br>
        <input formControlName="password" type="password" placeholder="Senha">
        <br><br>
        <input [disabled]="!loginForm.valid" id="enviar" (click)="ngSubmit()" type="submit" value="Entrar">
      </form>
      <span routerLink="/cadastro"  class="cadastrar">Solicitar Acesso</span><br>
      <span (click)="forgotPassword()" class="esqueceu">Esqueci a minha senha </span>
    </div>

    <div class="creditos">
      <p>@Made for Tiago Souza</p>
    </div>
</body>
</html>