<div class="container mt-5" >
  <table class="table1"class="table table-bordered"  >

      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Escala</th>
        </tr>  
      
    </thead>
    </table>
    <br>
  <table class="table table-bordered"  >
    

      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Data</th>
          <th scope="col">Dia</th>
          <th scope="col">Hora</th>
          <th scope="col">Comunidade</th>
          <th scope="col">Acolito</th>
          <th scope="col">Coroinha</th>
        </tr>  
        
      </thead>
  </table>

<div id="content" #content *ngFor="let dados of readData" >
  
  <table class="table table-bordered"  >
      
        <tbody>
        
          <tr>
            <th scope="row">{{dados.id}}</th>
            <td>{{dados.data}}</td>
            <td>{{dados.dia}}</td>
            <td>{{dados.hora}}</td>
            <td>{{dados.comunidade}}</td>
            <td>{{dados.acolito}}</td>
            <td>{{dados.coroinha}}</td>
            
        
          </tr>
        </tbody>
  </table>
   
     
<a [routerLink]="['/criar-escala',dados.id]" id="alt" class="btn btn-sm btn-primary">Editar</a>
<button id="del" class="btn btn-sm btn-danger" (click)="deleteID(dados.id)">Excluir</button>
<button id="download" class="btn btn-sm btn-success"  (click)=" printSimplePDF()">Download</button>
    
</div>


</div>

