#categoria{
    position: relative;
    top:40px;
    left: 38%;
 }
 
 #close{
    float: right;
    margin-top: -10px;
    cursor:pointer;
 }

 @media (max-width: 768px) {
   #categoria{
      left: 33.3%;
   }
 }
