<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
   
</head>
<body>
   
    <section class="imagem">
     <img src="../../../assets/santa-teresinha.png">
    </section>
    
    <div class="frase">
      <p class="parag1">"Ó Jesus, meu Amor… minha vocação, enfim,</p>
      <p class="parag2">eu a encontrei, minha vocação é o Amor"</p>
    </div>
    
    <div class="login">
      <form [formGroup]="cadastroForm" (ngSubmit)="ngSubmit()">
        <h1>Cadastro</h1>
        <input formControlName="name" type="text" placeholder="Nome">
        <br><br>
        <input formControlName="email" type="email" placeholder="Email">
        <br><br>
        <input formControlName="password" type="password" placeholder="Senha">
        <br><br>

      <button id="enviar" [disabled]="!cadastroForm.valid" (click)="ngSubmit()" type="submit" >Cadastrar</button>
      </form>
      <div class="cadastrar" routerLink="/login"><span>Login</span></div>
    </div>

    <div class="creditos">
      <p>@Made for Tiago Souza</p>
    </div>
</body>
</html>