.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    
}

.page__box{
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
 
}

.page__content{
    max-width: 100%;
    min-height: calc(73vh - 5px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
   
} 

.page__content-data{
    margin: -32% 0 0 50%;
    transform: translate(-50%,50%);
}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 260px;
    background-color: #0f172a;
}

mat-drawer-container{
    height: 100%;
}

form{
    position: relative;
    top: 70px;
    left: 40%;
    max-width: 50%;

}

#newpassword{
    display: flex;
}

.form-label{
    align-items: center;
    
}

.form-control{
    width: 50%;
    display: flex;
}

#submit{
  position: relative;
  top: 30px;
  left: 6%;
  width: 40%;   
}

.viewpassword{
    position: relative;
    top: 10px;
    left: 10px;
}

.loading{
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
  
  }

  
/* media query for smaller screens */
@media (max-width: 768px) {
    .page__content{
      font-size: 1.5rem;
    }
    
    .page__content-data{
      font-size: 30px;
    }

    .form-control{
        width: 100%;
       
    }

    form{
    
        left: 30%;
     
    
    }
    
    
    mat-drawer{
      width: 100%;
     
    }
  
    
    .page__box{
      font-size: 20px;
    }
  }
  
  /* media query for even smaller screens, such as mobile phones */
  @media (max-width: 375px) {
    .page__content{
      font-size: 1rem;
    }
    
    .page__content-data{
      font-size: 20px;
    }
    
    .page__box{
      font-size: 16px;
    }
  }
  