

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      
<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Funções do Administrador - Agentes</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
 
          <div (click)="opencriarUsuario()" class="card">   
              <div class="card-body">
                <h5 class="card-title">Criar Agente</h5>
                <mat-icon  id="view-user">person_add</mat-icon>
              </div>
          </div>
         </div>

        <button type="button" id="refresh" (click)="refresh()" class="btn btn-success">Atualizar</button>      
       

          <!-- Coroinhas -->

            <div (click)="onoffCoroinhas()" id="coroinhas"  class="alert alert-light" role="alert">
              Coroinhas
              <mat-icon id="eye" *ngIf="coroinhasVisib">visibility</mat-icon>
              <mat-icon id="eye" *ngIf="!coroinhasVisib">visibility_off</mat-icon>
            </div>

            <div *ngIf="coroinhasVisib">
                <table  *ngFor="let dados of listaCoroinhas, let i = index" class="table">
                  <tbody>
                    <tr>
                      <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteCoroinha(dados.id)" id="delete">delete</mat-icon></td>
                    </tr>
                  </tbody>
                </table>
            </div>
   
            
            <!-- Acolitos -->

            <div (click)="onoffAcolitos()" id="acolitos"  class="alert alert-light" role="alert">
              Acolitos
              <mat-icon id="eye" *ngIf="acolitosVisib">visibility</mat-icon>
              <mat-icon id="eye" *ngIf="!acolitosVisib">visibility_off</mat-icon>
            </div>

            <div *ngIf="acolitosVisib">
                <table *ngFor="let dados of listaAcolitos , let i = index" class="table">
                  <tbody>
                    <tr>
                      <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteAcolito(dados.id)"  id="delete">delete</mat-icon></td> 
                    </tr>
                  </tbody>
                </table>
            <div>
     
              </div>
              </div>

              
            <!-- Ministros -->

            <div (click)="onoffMinistros()"   class="alert alert-light" role="alert">
              Ministros
              <mat-icon id="eye" *ngIf="ministrosVisib">visibility</mat-icon>
              <mat-icon id="eye" *ngIf="!ministrosVisib">visibility_off</mat-icon>
            </div>

            <div *ngIf="ministrosVisib">
                <table *ngFor="let dados of listaMinistros , let i = index" class="table">

                  <tbody>
                    <tr>
                      <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteMinistro(dados.id)"  id="delete">delete</mat-icon></td> 
                    </tr>
                  </tbody>
                </table>
            <div>

            </div>
            </div>

            <!-- Celebrantes -->

              <div (click)="onoffCelebrantes()"   class="alert alert-light" role="alert">
                Celebrantes
                    <mat-icon id="eye" *ngIf="celebrantesVisib">visibility</mat-icon>
                    <mat-icon id="eye" *ngIf="!celebrantesVisib">visibility_off</mat-icon>
                  </div>
          
                  <div *ngIf="celebrantesVisib">
                          <table *ngFor="let dados of listaCelebrantes , let i = index" class="table">
          
                          <tbody>
                              <tr>
                                <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteCelebrante(dados.id)"  id="delete">delete</mat-icon></td> 
                              </tr>
                            </tbody>
                          </table>
                  <div>
          
              </div>
              </div>

                 <!-- Comentaristas -->

                 <div (click)="onoffComentaristas()"   class="alert alert-light" role="alert">
                  Comentaristas
                    <mat-icon id="eye" *ngIf="comentaristasVisib">visibility</mat-icon>
                    <mat-icon id="eye" *ngIf="!comentaristasVisib">visibility_off</mat-icon>
                  </div>
          
                  <div *ngIf="comentaristasVisib">
                          <table *ngFor="let dados of listaComentaristas , let i = index" class="table">
          
                          <tbody>
                              <tr>
                                <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteComentarista(dados.id)"  id="delete">delete</mat-icon></td> 
                              </tr>
                            </tbody>
                          </table>
                  <div>
          
              </div>
              </div>

                <!-- Leitores -->

                  <div (click)="onoffLeitores()"   class="alert alert-light" role="alert">
                    Leitores
                        <mat-icon id="eye" *ngIf="leitoresVisib">visibility</mat-icon>
                        <mat-icon id="eye" *ngIf="!leitoresVisib">visibility_off</mat-icon>
                    </div>
                
                    <div *ngIf="leitoresVisib">
                          <table *ngFor="let dados of listaLeitores , let i = index" class="table">
                                <tbody>
                                    <tr>
                                      <td>{{dados.nome}} <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon> <mat-icon (click)="deleteLeitores(dados.id)"  id="delete">delete</mat-icon></td> 
                                    </tr>
                                  </tbody>
                                </table>
                    <div>
                
                    </div>
                    </div>

                  <!-- Musicos -->

                  <div (click)="onoffMusicos()"   class="alert alert-light" role="alert">
                    Musicos
                      <mat-icon id="eye" *ngIf="musicosVisib">visibility</mat-icon>
                      <mat-icon id="eye" *ngIf="!musicosVisib">visibility_off</mat-icon>
                  </div>
              
                  <div *ngIf="musicosVisib">
                        <table *ngFor="let dados of listaMusicos , let i = index" class="table">
                              <tbody>
                                  <tr>
                                    <td>{{dados.nome}} <mat-icon (click)="deleteMusicos(dados.id)"  id="delete">delete</mat-icon> <mat-icon (click)="openatualizarUsuario(dados.id)" id="edit">edit</mat-icon></td> 
                                  </tr>
                                </tbody>
                              </table>
                  <div>
              
                  </div>
                  </div>

    </div>

  </div>


    </mat-drawer-content>
</mat-drawer-container>

