
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
        
        <div class="container-fluid page">
            <div class="page__box p-3 mt-2"> Consultar Escala- Categorias</div>
            <div class="page__content shadow p-3 position-relative">
                <div class="page__content-data position-absolute text-center">
                  <div class="flex-geral">
                    <a routerLink="/consultar-escala-geral" id="coroinhas" type="button" class="btn btn-primary btn-lg">Geral</a>
                  </div><br>
                  <div class="flex">
                    <a routerLink="/consultar-escala-celebrante" id="coroinhas" type="button" class="btn btn-primary btn-lg">Celebrantes</a>
                    <a routerLink="/consultar-escala-coroinha" id="coroinhas" type="button" class="btn btn-primary btn-lg">Coroinhas</a>
                    <a routerLink="/consultar-escala-ministro" id="coroinhas" type="button" class="btn btn-primary btn-lg">Ministros</a>
                    <a routerLink="/consultar-escala-liturgia" id="liturgia" type="button" class="btn btn-primary btn-lg">Liturgia</a>
                  </div>
                </div>
            </div>
        
        </div>
        
    </mat-drawer-content>
  </mat-drawer-container>
  