
#submit{
    position: relative;
<<<<<<< HEAD
    top: 30px;
    left: 35%;
    width: 30%;
=======
    top: 10px;
    left: 35%;
    width: 40%;
>>>>>>> 9837d96b3a8dbc641958f83d0522e1144d2ac666
}

label{
    font-weight: 500;
}

#permissoes{
    display: flex;

}

#password{
    margin-left: 15%;
}

#role,#status{
<<<<<<< HEAD
  width: 40%;
=======
  width: 60%;
>>>>>>> 9837d96b3a8dbc641958f83d0522e1144d2ac666
}

#desc{
    margin-left: 5px;
}

#close{
    margin-left: 95%;
    cursor: pointer;
}

.loading{
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
  
<<<<<<< HEAD
=======
  }

  @media (max-width:768px) {
    #permissoes{
        display: inline-block;
    }

    #password{
        margin-left: 0%;
    }

    #submit{
      left: 33.3%;
    }
>>>>>>> 9837d96b3a8dbc641958f83d0522e1144d2ac666
  }